/*Portfolio Website ( CSS Part )*/
/* Resetting default margin, padding, box-sizing, and enabling smooth scrolling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "poppins", sans-serif;
}
/* Styling the overall body of the website */
body {
  color: #ededed;
  background: #081b29;
}
/* Styling the header section of the website */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: #051129;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
/* Styling the logo of the website */
.logo {
  position: relative;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  opacity: 0;
  animation: slideRight 1s ease forwards ;
}
/* Styling the specific span within the logo of the website */
.logo span {
  color: #0ef;
}
/* Styling the ul tag of Navbar of the website */
.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
/* Styling the list tag of Navbar of the website */
.navbar li {
  margin-left: 35px;
}
/* Styling the Navbar of the website */
.navbar a {
  display: inline-block;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
  animation-delay: calc(0.2s * var(--1));
}
/* Adding the hover effect to the navigation links */
.navbar a:hover {
  color: #0ef;
}
/* Styling the home section  of the website */
.home {
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvCuCDd4hESJqTR4sNZLqj9gmb_7dkOY_9aw&usqp=CAU)
    no-repeat; /*image of your choice*/
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 70px 10% 0;
}
/* Styling the home content */
.home-content {
  max-width: 600px;
}
/* Styling the first heading of the home content */
.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.7s;
}
/* Styling the second heading of the home content */
.home-content h3:nth-of-type(2) {
  margin-bottom: 30px;
  animation: slideTop 1s ease forwards;
  animation-delay: 0.7s;
}
/* Styling the specific span within the second heading of the home content */
.home-content h3 span {
  color: #0ef;
}
/* Styling the main heading in home content */
.home-content h1 {
  font-size: 56px;
  font-weight: 700;
  margin: -3px 0;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}
/* Styling the paragraph in home content */
.home-content p {
  font-size: 20px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}
/* Styling the social media links in home section */
.home-sci a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #0ef;
  border-radius: 50%;
  font-size: 20px;
  color: #0ef;
  text-decoration: none;
  transition: 0.5s ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(0.2s * var(--1));
  margin: 30px 15px 30px 0;
}
/* Hover effect for social media links */
.home-sci a:hover {
  background: #0ef;
  color: #081b29;
  box-shadow: 0 0 20px #0ef;
}
/* Styling the button box*/
.btn-box {
  display: inline-block;
  padding: 12px 28px;
  background: #0ef;
  border-radius: 40px;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px cyan, 0 0 25px cyan;
}
/* Hover effect for the button box*/
.btn-box:hover {
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan,
    0 0 200px cyan;
}
/* Styling the section named extreme which has encapsulated home contents and home picture*/
.extreme {
  display: flex;
  justify-content: space-between;
  padding: -50px;
  margin-top: -50px;
}
/* Styling the photo of the home page*/
.foto img {
  height: 400px;
  width: 400px;
  border-radius: 100%;
  margin-left: 200px;
  border: 10px solid #0ef;
  box-shadow: 0 0 10px #0ef;
  transition: border-color 0.3s, box-shadow 0.3s;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(0.2s * var(--1));
}
/*Hover effect for the home picture*/
.foto img:hover {
  border-color: #0ef;
  box-shadow: 0 0 250px #0ef;
}
/* Styling the about section  of the website */
#about {
  padding: 80px 0;
}
/* Row styling for layout in the about section */
.Row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* Styling for the first column in about section */
.about-col-1 {
  flex-basis: 35%;
}
/* Styling for the image within the first column in about section */
.about-col-1 img {
  width: 100%;
  border-radius: 100%;
  border: 10px solid #0ef;
  box-shadow: 0 0 10px #0ef;
  transition: border-color 0.3s, box-shadow 0.3s;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(0.2s * var(--1));
}
/*Hover effect for the about picture*/
.about-col-1 img:hover {
  border-color: #0ef;
  box-shadow: 0 0 250px #0ef;
}
/* Styling for the second column in about section */
.about-col-2 {
  flex-basis: 60%;
}
/* Styling for the main heading in the second column of about section */
.about-col-2 h2 {
  font-size: 60px;
}
/* Styling for the span within the main heading in the second column of about section */
.about-col-2 h2 span {
  color: #0ef;
}
/* Styling for the subheading in the second column of about section */
.about-col-2 h4 {
  font-size: 29px;
  font-weight: 600;
  color: #fff;
  line-height: 1.7;
  margin: 15px 0 30px;
}
/* Styling for the paragraph in the second column of about section */
.about-col-2 p {
  color: aliceblue;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 4rem;
}
/* Styling for the tab titles in about section */
.tab-titles {
  display: flex;
  margin: 20px 0 -30px;
}
/* Styling for the tab links in about section */
.tab-links {
  margin-right: 50px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
}
/* Styling for the underline effect on active tab link */
.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #0ef;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
/* Styling for the active tab link's underline effect */
.tab-links.active-link::after {
  width: 50%;
}
/* Styling for the list items within tab contents */
.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}
/* Styling for the span within list items in tab contents */
.tab-contents ul li span {
  color: #0ef;
}
/* Styling for tab contents */
.tab-contents {
  display: none;
}
/* Styling for active tab content */
.tab-contents.active-tab {
  display: block;
}
/* Styling the interests section  of the website */
#interests {
  color: aliceblue;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 4rem;
}
/* Styling for the subheading in the interests section */
.sub-title {
  text-align: center;
  font-size: 60px;
  padding-bottom: 70px;
}
/* Styling for the span within the subheading in the interests section */
.sub-title span {
  color: #0ef;
}
/* Styling the container of the interests section  of the website */
.container {
  padding: 90px;
}
/* Styling the interests lists*/
.interests-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(259px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
/* Styling for each interest box in interests section */
.interests-list div {
  background-color: transparent;
  padding: 40px;
  font-size: 13px;
  font-weight: 600;
  border-right: 10px;
  border-radius: 20px;
  transition: background 0.5s, transform 0.5s;
  box-shadow: 1px 1px 20px #012290f7, 1px 1px 40px #0053b8f7;
}
/* Styling for the icons within interest box */
.interests-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}
/* Styling for the main heading within interest box */
.interests-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}
/* Styling for the link within interest box */
.interests-list div a {
  text-decoration: none;
  color: #000000;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}
/* Styling the Read More/Aloud button */
.read {
  display: inline-block;
  padding: 12px 28px;
  background: #0ef;
  border-radius: 40px;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px cyan, 0 0 25px cyan;
}
/* Hover effect for the Read Aloud button */
.read:hover {
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan,
    0 0 200px cyan;
}
/* Hover effect for interests box */
.interests-list div:hover {
  transform: translateY(-20px);
}
/* Styling the skill section of the website*/
.section {
  display: flex;
  flex-wrap: wrap;
}
/* Styling the skill container of the website which encapsulates Technical and Professional Skills*/
.skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(568px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
/* Styling the container which will store the respective skills*/
.container1 {
  width: 600px;
  height: 500px;
  padding: 75px 90px;
  margin-left: 120px;
  margin-bottom: 5px;
}
/* Styling the heading of the skills section*/
.heading1 {
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 5px;
  margin-bottom: 50px;
}
/* Styling for individual skill bars */
.bar {
  font-size: 23px;
}
/* Styling the container of Technical-bars*/
.Technical-bars .bar {
  margin-top: 40px 0;
}
/* Styling for the first skill bar */
.Technical-bars .bar:first-child {
  margin-top: 0;
}
/* Styling for the last skill bar */
.Technical-bars .bar:last-child {
  margin-bottom: 0;
}
/* Styling for the information within each skill bar */
.Technical-bars .bar .info {
  margin-bottom: 5px;
}
/* Styling for the span within the information of each skill bar */
.Technical-bars .bar .info span {
  font-size: 17px;
  font-weight: 500;
  animation: showText 0.5s 1s linear forwards;
  opacity: 1;
}
/* Styling for the progress line within each skill bar */
.Technical-bars .bar .progress-line {
  position: relative;
  border-radius: 10px;
  width: 100%;
  height: 5px;
  background-color: #000000;
  animation: animate 1s cubic-bezier(1, 0, 0, 1) forwards;
  transform: scaleX(0);
  transform-origin: left;
}
/* Animating the progress line i.e  forward animation */
@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
/* Styling for the progress line span within each skill bar */
.Technical-bars .bar .progress-line span {
  height: 100%;
  background-color: #0ef;
  position: absolute;
  border-radius: 10px;
  animation: animate 2s 2s cubic-bezier(1, 0, 0, 1) forwards infinite;
  transform: scaleX(0);
  transform-origin: left;
}
/* Specific width for each skill category */
.progress-line.html span {
  width: 99%;
}
.progress-line.css span {
  width: 85%;
}
.progress-line.Javascript span {
  width: 70%;
}
.progress-line.react span {
  width: 98%;
}
.progress-line.python span {
  width: 60%;
}
.progress-line.java span {
  width: 80%;
}
/* Styling for the percentage text after each progress line */
.progress-line span::after {
  position: absolute;
  padding: 1px 8px;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  border-radius: 3px;
  top: -20px;
  right: -20px;
  animation: showText 0.5s 1.5s linear forwards;
  opacity: 0;
}
/* Setting content for each percentage text */
.progress-line.html span::after {
  content: "99%";
}
.progress-line.css span::after {
  content: "85%";
}
.progress-line.Javascript span::after {
  content: "70%";
}
.progress-line.react span::after {
  content: "98%";
}
.progress-line.python span::after {
  content: "60%";
}
.progress-line.java span::after {
  content: "80%";
}
/* Styling for the arrow before the percentage text */
.progress-line span::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  top: -10px;
  right: 0;
  animation: showText 0.5s 1.5s linear forwards infinite;
  opacity: 0;
}
/* Animation for showing the text */
@keyframes showText {
  100% {
    opacity: 1;
  }
}
/* Styling for the radial bars section */
.radial-bars {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}
/* Styling for each radial bar */
.radial-bars .radial-bar {
  width: 50%;
  height: 170px;
  margin-bottom: 10px;
  position: relative;
}
/* Styling for the SVG (Scalar vector Graphics) within each radial bar */
.radial-bars .radial-bar svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 120px;
  height: 160px;
}
/* Styling for the progress bar within each radial bar */
.radial-bars .radial-bar .progress-bar {
  stroke-width: 10;
  stop-color: black;
  fill: transparent;
  stroke-dasharray: 502;
  stroke-dashoffset: 502;
  stroke-linecap: round;
  animation: animate-bar 1s linear forwards infinite;
}
/* Animation for showing the progress of radial-bar */
@keyframes animate-bar {
  100% {
    stroke-dashoffset: -1;
  }
}
/* Styling for the path of each radial bar */
.path {
  stroke-width: 10;
  stroke: #0ef;
  fill: transparent;
  stroke-dasharray: 502;
  stroke-dashoffset: 502;
  stroke-linecap: round;
}
/* Animation for each path of the radial bars */
.path-1 {
  animation: animate-path1 1s 1s linear forwards infinite;
}
.path-2 {
  animation: animate-path2 1s 1s linear forwards infinite;
}
.path-3 {
  animation: animate-path3 1s 1s linear forwards infinite;
}
.path-4 {
  animation: animate-path4 1s 1s linear forwards infinite;
}
/* Animations for each paths of the radial bars */
@keyframes animate-path1 {
  100% {
    stroke-dashoffset: 90;
  }
}
@keyframes animate-path2 {
  100% {
    stroke-dashoffset: 80;
  }
}
@keyframes animate-path3 {
  100% {
    stroke-dashoffset: 85;
  }
}
@keyframes animate-path4 {
  100% {
    stroke-dashoffset: 75;
  }
}
/* Styling for the percentage text within each radial bar */
.radial-bar .percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 17px;
  font-weight: 500;
  animation: showText 0.5s 1s linear forwards;
  opacity: 0;
}
/* Styling for the text within each radial bar */
.radial-bar .text {
  width: 100%;
  position: absolute;
  text-align: center;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50px);
  font-size: 17px;
  font-weight: 500;
  animation: showText 0.5s 1s linear forwards;
  opacity: 0;
}
/* Styling for the main text section */
.main-text {
  padding-top: 25px;
  margin-top: 200px;
}
/* Styling for the heading within the main text section */
.main-text h2 {
  font-size: 60px;
  line-height: 1;
  text-align: center;
  margin-bottom: 90px;
}
/* Styling for the span within the heading of the main text section */
.main-text h2 span {
  color: #0ef;
}
/* Styling for the portfolio content section */
.portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(359px, auto));
}
/* Styling for each row in the portfolio content */
.row {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
}
/* Styling for the images within each row of the portfolio content */
.row img {
  width: 100%;
  border-radius: 8px;
  display: block;
  transition: transform 0.5s;
}
/* Styling for the layer within each row of the portfolio content */
.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0, 1), #0ef);
  position: absolute;
  border-radius: 8px;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 40px;
  transition: height 0.5s;
}
/* Styling for the heading within the layer of the portfolio content */
.layer h5 {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}
/* Styling for the paragraph within the layer of the portfolio content */
.layer p {
  color: #000;
  font-size: 1rem;
  line-height: 1.8;
}
/* Styling for the icon within the layer of the portfolio content */
.layer i {
  color: #ff004f;
  margin-top: 20px;
  font-size: 20px;
  background: #fff;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
/* Hover effect for the images within each row of the portfolio content */
.row:hover img {
  transform: scale(1.1);
}
/* Hover effect for the layer within each row of the portfolio content */
.row:hover .layer {
  height: 100%;
  background-color: #0ef;
  font-weight: 700;
}
/* Styling the contact section  of the website */
.contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, repeat(2, 1fr));
  align-items: center;
  gap: 3rem;
  padding-left: 30px;
  margin-top: 130px;
}
/* Styling for the heading within the contact section */
.contact h2 {
  font-size: 90px;
  line-height: 1;
  text-align: center;
  margin-bottom: 90px;
}
/* Styling for the span within the heading of the contact section */
.contact span {
  color: #0ef;
}
/* Styling for the arrangement of contact information and contact form togeather*/
.arrange {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(568px, 1fr));
  justify-content: space-between;
  padding: -50px;
  margin-top: -50px;
}
/* Styling for the contact text */
.contact-text h4 {
  margin: 15px 0;
  color: rgb(228, 228, 228);
  font-size: 20px;
  font-weight: 600;
}
/* Styling for the paragraph within the contact text */
.contact-text p {
  color: rgb(177, 177, 177);
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 2rem;
}
/* Styling for the contact list */
.contact-list {
  margin-bottom: 1rem;
}
/* Styling for each item in the contact list */
.contact-list li {
  margin-bottom: 2px;
  display: block;
}
/* Styling for the icons in the contact list */
.contact-list i {
  display: inline-block;
  color: #0ef;
  font-size: 20px;
  font-weight: 600;
  transition: all 0.4s ease;
}
/* Hover effect for the icons in the contact list */
.contact-list li a:hover {
  transform: scale(1.01) translateY(-5px);
  color: #0ef;
}
/* Styling for the contact icons */
.contact-icons i {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #0ef;
  border-radius: 50%;
  font-size: 20px;
  color: #0ef;
  text-decoration: none;
  margin: 0 15px 30px 0;
  transition: 0.5s ease;
  opacity: 1;
  animation: sideLeft 1s ease forwards infinite;
  animation-delay: calc(0.2s * var(--1));
}
/* Hover effect for the contact icons */
.contact-icons i:hover {
  background: #0ef;
  color: #000;
  box-shadow: 0 0 20px #0ef;
}
/* Styling for the contact form */
.contact-form form {
  margin-top: 5px;
  position: relative;
}
/* Styling for the input fields in the contact form */
.contact-form form input,
form textarea {
  border: none;
  outline: none;
  width: 90%;
  padding: 10px;
  background: #ededed;
  color: #000;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}
/* Styling for the contact form */
.contact-form {
  text-align: center;
}
/* Styling for the textarea in the contact form */
.contact-form textarea {
  resize: none;
  height: 220px;
}
/* Styling for the send button in the contact form */
.contact-form form .send {
  display: inline-block;
  padding: 10px 60px;
  background: #0ef;
  border-radius: 90px;
  font-size: 18px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 1;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px cyan, 0 0 25px cyan;
}
/* Hover effect for the send button in the contact form */
.contact-form form .send:hover {
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan,
    0 0 200px cyan;
}
/* Styling for the send button in the contact form */
.contact-form form button.send {
  display: inline-block;
  padding: 10px 60px;
  background: #0ef;
  border-radius: 90px;
  font-size: 18px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 1;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px cyan, 0 0 25px cyan;
}
/* Hover effect for the send button in the contact form */
.contact-form form button.send:hover {
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan,
    0 0 200px cyan;
}
/* Styling for the last text section */
.last-text p {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: rgb(7, 85, 91);
  font-weight: 600;
  margin-top: 70px;
}
/* Styling for the top button */
.top {
  position: fixed;
  bottom: 2.1rem;
  right: 2.1rem;
}
/* Styling for the top button icon */
.top i {
  color: #000;
  background: #0ef;
  font-size: 20px;
  padding: 10px;
  border-radius: 0.5rem;
}
/*Animation to slide in from left side*/
@keyframes slideRight {
  0% {
    transform: translateX(-100px);  /* Initial position, off-screen to the left */
    opacity: 0;  
  }
  100% {
    transform: translateX(0);  /* Final position, fully visible */
    opacity: 1;
  }
}
/*Animation to slide in from right side*/
@keyframes slideLeft {
  0% {
    transform: translateX(100px);  /* Initial position, off-screen to the left */
    opacity: 0;
  }
  100% {
    transform: translateX(0);  /* Final position, fully visible */
    opacity: 1;
  }
}
/*Animation to slide in from top*/
@keyframes slideTop {
  0% {
    transform: translateY(100px);  /* Initial position, off-screen to the left */
    opacity: 0;
  }
  100% {
    transform: translateY(0);  /* Final position, fully visible */
    opacity: 1;
  }
}
/*Animation to slide in from top*/
@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/*Mediaqueries for responsiveness*/
@media (max-width: 568px) {
  .skills-container {
    grid-template-columns: 1fr; /* Change to a single column layout */
    margin: 20px; /* Adjust margins for smaller screens */
  }
  .container1 {
    width: 100%; /* Make it full width */
    margin: 0; /* Remove left margin */
    padding: 20px; /* Adjust padding for smaller screens */
  }
  .bar {
    font-size: 18px; /* Adjust font size for smaller screens */
  }
  .main-text {
    margin-top: 50px; /* Adjust margin for smaller screens */
    padding-top: 10px; /* Adjust padding for smaller screens */
  }
  .arrange{
    grid-template-columns: 1fr; /* Change to a single column layout */
    margin: 20px; 
  }
  .contact {
    grid-template-columns: 1fr; /* Display one column on smaller screens */
  }
}
/* Media query for screens smaller than 768px (tablets) */
@media (max-width: 768px) {
  .header {
    padding: 15px 5%; /* Adjust padding for smaller screens */
  }
  .navbar ul {
    flex-direction: column; /* Stack nav items vertically */
    align-items: center; /* Center align nav items */
  }
  .navbar li {
    margin: 15px 0; /* Adjust margin for smaller screens */
  }
  .foto img {
    margin-left: 0; /* Reset margin for smaller screens */
  }
/* Styling the about columns for smaller screens*/  
  .about-col-1,
  .about-col-2 {
    flex-basis: 100%; /* Make about columns full width */
    text-align: center; /* Center align content */
  }
}
/* Media query for screens smaller than 568px (phones) */
@media (max-width: 568px) {
  .header {
    padding: 15px 5%; /* Adjust padding for smaller screens */
  }
  .navbar ul {
    flex-direction: column; /* Stack nav items vertically */
    align-items: center; /* Center align nav items */
  }
  .navbar li {
    margin: 15px 0; /* Adjust margin for smaller screens */
  }
  .foto img {
    margin-left: 0; /* Reset margin for smaller screens */
  }
  .about-col-1,
  .about-col-2 {
    flex-basis: 100%; /* Make about columns full width */
    text-align: center; /* Center align content */
  }
  .container1 {
    width: 100%; /* Make it full width */
    margin: 0; /* Remove left margin */
    padding: 20px; /* Adjust padding for smaller screens */
  }
  .bar {
    font-size: 18px; /* Adjust font size for smaller screens */
  }
  .main-text {
    margin-top: 50px; /* Adjust margin for smaller screens */
    padding-top: 10px; /* Adjust padding for smaller screens */
  }
  .arrange {
    grid-template-columns: 1fr; /* Change to a single column layout */
    margin: 20px; 
  }
  .contact {
    grid-template-columns: 1fr; /* Display one column on smaller screens */
  }
}
/* Hamburger menu icon styles */
.menu-toggle {
  display: none; /* Initially hide on larger screens */
  cursor: pointer;
}
/*Menu button feature*/
.menu-toggle i {
  font-size: 24px;
}
/* Hover effect for menu icon*/
.menu-toggle i:hover {
  color: #0ef;
}
/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .navbar ul {
      display: none; /* Hide navigation links by default on smaller screens */
      list-style: none;
      padding: 0;
      margin: 0;
      position: absolute;
      top: 60px; /* Adjust as needed based on your header height */
      left: 0;
      background-color: rgb(7, 85, 91);
      width: 100%;
      text-align: center;
      z-index: 1000;
  }
  
  /* Show hamburger menu icon on smaller screens */
  .menu-toggle {
      display: block; 
      padding: 10px;
  }

  /* Style for individual navigation links */
  .navbar ul li {
      display: block;
      text-align: center;
      border-bottom: 1px solid #555;
  }
  
  /* Remove border from last navigation link */
  .navbar ul li:last-child {
      border-bottom: none;
  }
  /* Style for navigation links */
  .navbar ul li a {
      display: block;
      padding: 20px;
      color: #fff;
      text-decoration: none;
  }

  /*Modifying the fontsize for small screens*/
  .home-content h3 {
    font-size: 30px;
  }
  .home-content h1 {
    font-size: 25px;
  }
  .home-content p {
    font-size: 18px;
  }
  
/* Making the header adaptive for small screens */
  .header {
    padding: 5px 5%;
  }
}
/*Ressponsiveness for home screen*/
@media screen and (max-width:900px) {
  .home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvCuCDd4hESJqTR4sNZLqj9gmb_7dkOY_9aw&usqp=CAU)
      no-repeat; /*image of your choice*/
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
  }
  /* Styling the home content */
  .home-content {
    max-width: 600px;
  }
  /* Styling the first heading of the home content */
  .home-content h1 {
    font-size: 40px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
  }
  /* Styling the section named extreme which has encapsulated home contents and home picture*/
  .extreme {
    display: block;
    justify-content: space-between;
    padding: -50px;
    margin-top: -50px;
  }
  /* Styling the photo of the home page*/
  .foto img {
    display: none;
  }
  }
/*Scroll bar Designing for Traffic Light Mode*/
/*Scroll bar width modifier*/
::-webkit-scrollbar{
  width: 12px;
}
/* Scroll bar track Designing */
::-webkit-scrollbar-track{
  background: black;
}
/* Scroll bar scroller thumb */
::-webkit-scrollbar-thumb{
  background: #ff004f;
  border-radius: 50%;
}
/* Scroll bar scroller thumb hover effect*/
::-webkit-scrollbar-thumb:hover{
  background: rgb(5, 227, 5);
  box-shadow: 0 0 5px rgb(5, 227, 5), 0 0 25px rgb(5, 227, 5), 0 0 50px rgb(5, 227, 5), 0 0 100px rgb(5, 227, 5),
    0 0 200px rgb(5, 227, 5);
}
  /*End of Program*/